<div class="content"> 
  <%= render @messages %>
</div>
<footer>
  <div class="box">
    <div class="container">
      <%= form_for @message do |f| %>
        <%= f.text_area :text, placeholser: "text" %>
        <%= f.submit "SENT", class: "form-submit" %>
      <% end %>
    </div>
  </div>
</footer>
